<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nitish.mistuorg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Begin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.Home" />
        <activity android:name=".Verification" />
        <activity android:name=".interests.Registered" />
        <activity android:name=".ask.ASKActivity" />
        <activity android:name=".ask.ASKCat" />
        <activity android:name=".ask.TAG" />
        <activity android:name=".profile.Profile" />
        <activity android:name=".profile.ShowInterests" />
        <activity android:name=".ahr.AHR" />
        <activity android:name=".ahr.HRDetailView" />
        <activity android:name=".settings.Setting" />
        <activity android:name=".settings.Reset" />
        <activity
            android:name=".search.Search"
            android:theme="@style/BeginTheme" />
        <activity
            android:name=".notification.Notification"
            android:theme="@style/BeginTheme" />
        <activity android:name=".Contact" />
        <activity android:name=".profile.ProfileView"></activity>
    </application>

</manifest>